.modal_wrap {
    width: 100%;
    z-index: 1000;
    height: calc(100vh - 15rem);
    background-color: #3a3a3a70;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        margin-left: 3rem;
        width: 37rem;
        transform: rotate(20deg);
    }

    .wrap {
        display: flex;
        position: absolute;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .close{
            font-size: 2rem;
            position: absolute;
            top: -3rem;
            right: 0;
                }

        .title {
            display: flex;
            font-size: 2rem;
            font-weight: bold;
            justify-content: center;
            align-items: center;

            p {
                font-size: 1.6rem;
                font-weight: normal;
                margin-left: 1rem;
            }
        }

        .text {
            font-size: 1.2rem;
            font-weight: 100;
            margin-top: 1rem;
            display: flex;
            flex-direction: column;

            align-items: center;

            .blue {
                text-decoration: underline;
                color: var(--lightblue100);
            }
        }

        .btn {
            width: 9.9rem;
            height: 1.7rem;
            border-radius: .5rem;
            background: var(--lightblue100);
            box-shadow: 1px -2px 3.5px 0 rgba(0, 0, 0, 0.40) inset;
            color: var(--darkblack);
            text-align: center;
            font-size: .8rem;
            line-height: 1.7rem;
            margin: 1rem 0;

        }

        .info {
            width: 20rem;
            margin-top: 2rem;

            .animal {
                border-radius: .7rem;
                background: rgba(217, 217, 217, 0.60);
                box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25) inset;
                width: 22.7rem;
                height: 3.7rem;
                flex-shrink: 0;
                padding: 1rem;
            }
        }
    }
}