.title_wrap{

    display: flex;
    align-items: center;
    justify-content: center;  
    position: relative;

    .title {
        text-align: center;
        font-weight: bold;
        font-size: 2rem;
        margin: 1.6rem 0;
        text-decoration: underline;
        text-decoration-color: white;
        text-decoration-thickness: 0.17rem;
        text-underline-offset: 0.3rem;
    }

    .back {
        position: absolute;
        cursor: pointer;
        left: 1.6rem;

        img {
            width: 2.7rem;
            height: auto;
            display: block;
        }
    }
}