.creatureBook_wrap {
  margin-bottom: 7.4rem;
  margin-top: 5rem;
  
    .creature-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1.633rem;
        padding: 0 2.5rem; 
        max-width: 100%;
        margin: 0 auto;
        box-sizing: border-box;
    }

    .card img {
        width: 100%;
        max-width: 16.3rem;
        object-fit: contain;
        overflow: hidden;
    }

    .card {
        display: flex;
        align-items: center; 
        justify-content: center;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
