.header_wrap {
    position: sticky;
    top: 0;
    height: 7.5rem;
    display: flex;
    align-items: center;
    z-index: 100;
    background-color: var(--darkblack);

    img {
        width: 18.5rem;
        margin-left: 2rem;
    }
}